@model BCITGO_V6.Models.Ride

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ride</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RideId" />
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <select asp-for="DriverId" class="form-control" asp-items="ViewBag.DriverId"></select>
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartLocation" class="control-label"></label>
                <input asp-for="StartLocation" class="form-control" />
                <span asp-validation-for="StartLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndLocation" class="control-label"></label>
                <input asp-for="EndLocation" class="form-control" />
                <span asp-validation-for="EndLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerSeat" class="control-label"></label>
                <input asp-for="PricePerSeat" class="form-control" />
                <span asp-validation-for="PricePerSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableSeats" class="control-label"></label>
                <input asp-for="AvailableSeats" class="form-control" />
                <span asp-validation-for="AvailableSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuggageAllowed" class="control-label"></label>
                <input asp-for="LuggageAllowed" class="form-control" />
                <span asp-validation-for="LuggageAllowed" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PetsAllowed" /> @Html.DisplayNameFor(model => model.PetsAllowed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
